@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}


@font-face{
  font-family: "MantiniaRegular";
  src: url('/fonts/mantinia_regular.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face{
  font-family: "GaramondPremrPro";
  src: url('/fonts/garamond_premr_pro.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

.overlay_background{
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9;
  pointer-events: none;
}

.navbar_padding{
  padding-left: 3.75rem;
  padding-top: 14.688rem;
}

.side-bar-text{
  font-family: 'MantiniaRegular', ManiniaRegular;
  color: #8C7E61;
}

.about-text-sizing{
  width: 100px;
  height: 10px;
}

.info-title-text{
  font-family: 'GaramondPremrPro', GaramondPremrPro;
  color: #8C7E61;
}

.info-text{
  font-family: 'GaramondPremrPro', GaramondPremrPro;
  font-size: 1.5rem;
}

.links-text{
  font-family: 'GaramondPremrPro', GaramondPremrPro;
  font-size: 2rem;
  color: #A5A5A3;
}

::-webkit-scrollbar {
  width: 0.5rem;
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: #8C7E61;
  border-radius: 0.25rem;
  /* background-image: url('/imgs/scroll_thumb.png'); */
  background-repeat: no-repeat;
  /* size: 10px; */
}